<script>
  import { ethers } from "ethers";
  const metamaskBtn = document.getElementById("metamask-btn");
  metamaskBtn.addEventListener("click", async () => {
    if (window.ethereum) {
      try {
        // Request access to the user's MetaMask accounts
        await window.ethereum.request({
          method: "eth_requestAccounts",
        });
        const provider = new ethers.BrowserProvider(window.ethereum);
        const signer = provider.getSigner();
        // Get user's address
        const address = await (await signer).getAddress();
        // Send the address to the database
        console.log(address);
      } catch (error) {
        console.error("Error connecting to MetaMask:", error);
      }
    } else {
      console.error("MetaMask not found");
    }
  });
</script>

<div>
  <button
    id="metamask-btn"
    class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >Connect Metamask wallet</button
  >
</div>
